@model Course
@{
    ViewData["Title"] = "Edit Course";
    SelectList listItemsDepts = new SelectList(ViewBag.Depts, "DepartmentID", "Name");
    SelectList listItemsAllInst = new SelectList(ViewBag.inst, "Id", "Name");
    SelectList listItemsCourseInst = new SelectList(ViewBag.CrsInst, "Id", "Name");
}
<h2 class="m-auto text-center">Edit Course</h2>
<form method="post" asp-action="Edit" asp-controller="Course">
    <input asp-for="CourseID" hidden />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Degree"></label>
        <input asp-for="Degree" class="form-control"/>
        <span asp-validation-for="Degree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="MinDegree"></label>
        <input asp-for="MinDegree" class="form-control"/>
        <span asp-validation-for="MinDegree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="Department.DepartmentID"></label>
        <select asp-for="Department.DepartmentID" asp-items="listItemsDepts" class="form-control"></select>
        <span asp-validation-for="Department.DepartmentID" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="Instructors">Course Instructors</label>
        <select asp-items="listItemsCourseInst" class="form-control" name="none"></select>
        @*<span asp-validation-for="Instructors" class="text-danger"></span>*@
    </div>
    <div>
        <label asp-for="Instructors">All Instructors</label>
        <select asp-for="Instructors" asp-items="listItemsAllInst" multiple="false" class="form-control" name="Id"></select>
        <span asp-validation-for="Instructors" class="text-danger"></span>
    </div>
    
    <br />
    <input type="submit" class="btn btn-outline-info" value="Edit"/>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
