@{
    ViewData["Title"] = "Home Page";
}
<a href="Instructor/index/" class="btn btn-outline-primary">Instructors</a>
<a href="Course/index/" class="btn btn-outline-info">Courses</a>
<a href="TraineeCourse/TraineeWithCourse/" class="btn btn-outline-info">Trainees Course</a>


